/* Insertion font raleway*/
@font-face {
    font-family: 'raleway';
    src: url('font/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
html
{
    font-family: 'raleway', Helvetica, Arial, sans-serif;
}