/* Insertion font raleway*/
@font-face {
    font-family: 'raleway';
    src: url('font/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
html
{
    font-family: 'raleway', Helvetica, Arial, sans-serif;
}
#bloc_page
{
    max-width: 1440px;
    margin: auto;
}
header ul
{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    padding-right: 30px;
    margin-left: auto;
}
header ul li
{
    padding-left: 30px;
    padding-right: 30px;
}
header ul li a:hover 
{
    border-top: 2px solid #0065fc;
    color: #0065fc;
    padding-top: 40px;
}
.header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
a 
{
    text-decoration: none;
    color: black;
}
#sinscrire a
{
    color: #0065fc;
    font-weight: bold;
}
#sinscrire a:hover 
{
        border-top: 2px solid #0065fc;
        padding-top: 40px;
}
#sinscrire
{
    margin-right: 0%;
}
.headernav
{
    display: flex;
}
.recherche
{
    border: 2px black solid;
    max-width: 100%;
    margin-top: 1.5rem;
}
h1
{
    font-size: 1.45rem;
    font-weight: bold;
}
.mapicon
{
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
}
.champrecherche
{
    border-left: none;
    border-right: none;
    font-weight: bold;
    color: black;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    font-size: 1rem;
    font-family: 'raleway', Helvetica, Arial, sans-serif;
    padding-left: 1.5rem;
    width: 16rem;
}
.formrecherche
{
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
    margin-top: 0.5rem;
}
.buttonrecherche
{
    background-color: #0065fc;
    color: white;
    font-family: 'raleway', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding-left: 1rem;
    padding-right: 1rem;
}
.recherchetitre
{
    margin-bottom: 0.5rem;

}
.recherchesoustitre
{
    margin-top: 0;
}
