#bloc_page {
    margin: 0;
    width: 100%;
}

.navbar {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-right: 0rem;
    margin-left: 0rem;
}

#logo {
    padding-left: 1rem;
}

#link_hebergement {
    grid-column-start: 1;
    grid-row-start: 2;
    border-bottom: 2px solid #f2f2f2;
}

#link_activites {
    grid-column-start: 2;
    grid-row-start: 2;
    border-bottom: 2px solid #f2f2f2;
}

#link_sinscrire {
    grid-column-start: 2;
    grid-row-start: 1;
    font-weight: bold;
    text-align: right;
    padding-right: 1rem;
}

.navbar_link {
    height: 4rem;
    text-align: center;
    line-height: 4rem;
    border-top: none;
}

.navbar_link:hover {
    border-top: none;
}

#link_activites:hover {
    border-bottom: 2px solid #0065fc;
}

#link_hebergement:hover {
    border-bottom: 2px solid #0065fc;
}

#buttonrecherche {
    display: none;
}

.button-research {
    max-width: 150px;
    min-width: 40px;
}

.recherchetitre {
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 90%;
}

.recherchesoustitre {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 90%;
}

#icon-glass {
    display: flex;
    border: none;
    border-radius: 0 14px 14px 0;
    background-color: #0065fc;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 17px;
    cursor: pointer;
}

.bouton_filtre {
    margin-bottom: 1rem;
    margin-right: auto;
}

.filtres h2 {
    grid-row-start: 1;
}

.filtres {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-left: 1rem;
    margin-right: 1rem;
}

.filtres ul li {
    margin-left: 0;
}

.liste_filtres {
    flex-direction: column;
    grid-row-start: 2;
    grid-column-start: 1;
}

.estimationresultat {
    margin-left: 1rem;
    margin-right: 1rem;
    grid-template-columns: 7% 93%;
}

.iconinforesultat {
    max-height: 1rem;
}

.recherche {
    margin: 1rem;
}

.hebergement {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    margin: 0;
}

.hebergementsville {
    grid-row-start: 2;
    max-width: 100%;
    margin: 0;
}

.activites {
    display: grid;
    margin-top: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-bottom: 0;
}

.activites_ville {
    display: inline-flex;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-right: auto;
    height: auto;
    width: 100%
}

.tuile_activite {
    margin-bottom: 2rem;
    width: 100%;
}

#activite_1,
#activite_2,
#activite_3,
#activite_4,
#activite_5,
#activite_6 {
    height: 190px;
}

footer {
    display: grid;
    width: auto;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.footer_right {
    margin-left: 1rem;
}

.footer_left {
    width: auto;
    margin-left: 1rem;
    padding: 0;
}

.footer_center {
    width: auto;
    margin-left: 1rem;
}

.container {
    display: grid;
    padding: 0;
    margin: 0;
}

#hebergement .hebergementsville {
    margin: 0%;
}

#hebergement .hebergementsville .fondgris {
    background: white;
}

#hebergement .fondgris .group-item {
    flex-direction: column;
}

#hebergement .fondgris .group-item figure {
    width: 100%;
}

#hebergement .fondgris {
    border-radius: 0;
    padding: 0px 25px 0px 15px;
}

#hebergement .LesPlusPopulaires {
    max-width: 100%;
}