.navbar {
    margin-right: 2rem;
    margin-left: 2rem;
    width: 90%;
    column-gap: 15px;
}

.recherchetitre {
    margin-left: 2rem;
    margin-right: 2rem;
    width: fit-content;
}

.recherchesoustitre {
    margin-left: 2rem;
    margin-right: 2rem;
    width: fit-content;
}

.recherche {
    margin-left: 2rem;
    margin-right: 2rem;
    width: fit-content;
}

.filtres {
    margin-left: 2rem;
    margin-right: 2rem;
    width: fit-content;
    max-width: 89%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.filtres h2 {
    grid-row-start: 1;
}

.liste_filtres {
    grid-row-start: 2;
    grid-column-start: 1;
}

.bouton_filtre {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.filtres ul li {
    margin-left: 0;
}

.activites {
    margin-right: 2rem;
    margin-left: 2rem;
}

.container {
    width: auto;
}

#hebergement .fondgris .group-item {
    flex-direction: column;
}

#hebergement .fondgris .group-item figure {
    width: auto;
}