/* Insertion font raleway*/

@font-face {
    font-family: 'raleway';
    src: url('font/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-family: 'raleway_bold';
    src: url('font/Raleway-ExtraBold.ttf');
    font-weight: bold;
    font-style: normal;
}

html {
    font-family: 'raleway', Helvetica, Arial, sans-serif;
    text-decoration: none;
}

body {
    max-width: 1440px;
    margin: auto;
}

body a {
    color: black;
}

.navbar {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
}

.navbar_link {
    height: 5rem;
    text-align: center;
    line-height: 5rem;
    border-top: 2px solid transparent;
}

a {
    text-decoration: none;
}

a:visited {
    color: initial;
}

.navbar_link:hover {
    border-top: 2px solid #0065fc;
    cursor: pointer;
}

.navbar_link a:hover {
    color: #0065fc;
}

#link_hebergement {
    grid-column-start: 3;
}

#link_activites {
    grid-column-start: 4;
}

#link_sinscrire {
    grid-column-start: 5;
    font-weight: bold;
}

#link_sinscrire a {
    color: #0065fc;
}

.recherche {
    max-width: 100%;
    margin-top: 1.5rem;
    box-sizing: border-box;
    margin-right: 3.125rem;
    margin-left: 3.125rem;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

h2 {
    font-size: 1.40rem;
}

h3 {
    font-size: 0.9rem;
    font-weight: bold;
}

.mapicon {
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
}

.champrecherche {
    border-left: none;
    border-right: none;
    font-weight: bold;
    color: black;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    font-size: 1rem;
    font-family: 'raleway', Helvetica, Arial, sans-serif;
    padding-left: 1rem;
    width: auto;
}

.formrecherche {
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
    margin-top: 0.5rem;
}

.buttonrecherche {
    background-color: #0065fc;
    color: white;
    font-family: 'raleway', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 1rem;
    cursor: pointer;
}

#icon-glass {
    display: none;
}

.recherchetitre {
    margin-bottom: 0.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.recherchesoustitre {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 0;
}

.filtres {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    display: grid;
    align-items: center;
    grid-template-columns: 5% 95%;
    grid-template-rows: auto;
}

.filtres h2 {
    grid-row-start: 1;
    grid-column-start: 1;
}

.filtres ul {
    flex-wrap: wrap;
    padding: 0;
}

.liste_filtres {
    display: inline-flex;
    grid-row-start: 1;
    grid-column-start: 2;
}

.filtres ul li {
    display: inline;
    margin-left: 25px;
    font-weight: bold;
    border: solid 2px #e2e2e2;
    padding: 0 20px 0 0;
    border-radius: 200px;
}

.filtres ul li:hover {
    cursor: pointer;
    background: #f2f7ff;
}

.icon_filtre {
    background-color: #deebff;
    color: #0065fc;
    padding: 18px;
    border-radius: 200px;
    margin-right: 15px;
}

.estimationresultat {
    display: grid;
    grid-template-columns: 2% 97%;
    grid-template-rows: 1fr;
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-right: 3rem;
    margin-left: 3rem;
}

.iconinforesultat {
    display: inline-flex;
    position: relative;
    font-size: 0.75rem;
    border-radius: 100%;
    min-height: 1.5em;
    max-width: 1.5em;
    align-items: center;
    justify-content: center;
    color: #0065fc;
    border: 0.125rem #d9d9d9 solid;
}

.textinforesultat {
    font-size: 1rem;
    padding-left: 0.5rem;
}

.footer_left {
    width: 33%;
    padding-left: 3.125rem;
}

.footer_center {
    width: 33%;
}

.footer_right {
    width: 33%;
    padding-right: 3.125rem;
}

footer {
    display: flex;
    width: 100%;
    background-color: #f2f2f2;
    font-size: 0.9rem;
    padding-bottom: 2rem;
}

.activites {
    margin-bottom: 3.125rem;
    margin-top: 3.125rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.activites_ville {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 27.75rem;
}

.tuile_activite {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    overflow: hidden;
    width: 23%;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    box-shadow: 0px 0px 15px #dbdbdb;
}

.tuile_activite:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px #8a8a8a;
}

.activite-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.txt_activite {
    margin-left: 1rem;
}

.tuile_activite:nth-of-type(1),
.tuile_activite:nth-of-type(4) {
    height: 100%;
}

.tuile_activite:nth-of-type(2),
.tuile_activite:nth-of-type(6) {
    height: 55%;
}

.tuile_activite:nth-of-type(3),
.tuile_activite:nth-of-type(5) {
    height: 37%;
}

.reservation .container {
    display: flex;
    flex-flow: row;
}

.container {
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex
}

#hebergement .hebergementsville {
    order: 1;
    flex: 1;
    margin-right: 3%;
    max-width: 55rem;
}

#hebergement .fondgris {
    background: #F2F2F2;
    border-radius: 20px;
    padding: 5px 25px;
    min-height: 580px;
    margin-bottom: 20px;
}

#hebergement .fondgris .group-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 20px;
}

#hebergement .fondgris .group-item figure {
    width: calc(100% / 3.3);
    background: #FFF;
    padding: 0.3rem;
    border-radius: 1.25rem;
    margin: 0 0 30px 0;
    box-shadow: 0px 0px 10px #55555538;
    cursor: pointer;
    transition: transform .2s;
}

#hebergement .fondgris .group-item figure img {
    height: 7rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
}

#hebergement .fondgris .group-item figure figcaption {
    padding: 10px;
    position: relative;
}

#hebergement .LesPlusPopulaires {
    order: 2;
    flex: 0 1 35%;
    max-width: 26rem;
}

#hebergement h1,
#hebergement .stonk {
    display: flex;
    justify-content: space-between;
}

#hebergement .LesPlusPopulaires .group-item {
    flex-direction: column;
}

#hebergement .fondgris .group-item figure figcaption p {
    margin: 0;
}

#hebergement .LesPlusPopulaires .fondgris .group-item figure {
    min-width: 16rem;
    width: 100%;
}

#hebergement .LesPlusPopulaires .group-item figure {
    width: auto;
    display: flex;
    flex-direction: row;
}

#hebergement .LesPlusPopulaires .group-item figure img {
    max-width: 100px;
    max-height: initial;
    height: 115px;
    border-radius: 20px 0 0 20px;
}

.etoilesnote {
    color: #0065fc;
}

#hebergement .fondgris .group-item figure:hover {
    box-shadow: 0px 0px 15px #8a8a8a;
}